<h1>Welcome to Fresco</h1>
<p>You're up and running. Edit <code>app/views/root_path.html.erb</code> to change this page, or add new actions under <code>app/actions/</code>.</p>
<p>Next steps:</p>
<ul>
  <li>Define routes in <code>config/routes.rb</code>.</li>
  <li>Add a database in <code>config/database.rb</code>, then declare your schema in <code>db/schema.rb</code>.</li>
  <li>Run <code>bin/release</code> to produce a Spinel-compiled binary at <code>build/app</code>.</li>
</ul>
